# Ignorer le dossier frontend
frontend/

# Ignorer le fichier DIAGRAMMES_UML_GLOBAL.md
DIAGRAMMES_UML_GLOBAL.md
CORRECTION_VALIDATION_IMPORT.md
FRONTEND_CHANGES.md
README_VALIDATIONS.md
README_ARCHITECTURE.md
README.md
diagramme_classes.md
**/application.properties
#README_ARCHITECTURE.md
# Ignorer les fichiers de configuration IDE
.idea/