# Ignorer le dossier frontend
#frontend/
.env
ai-service
GestionSouscription
# Ignorer le fichier DIAGRAMMES_UML_GLOBAL.md

**/application.properties
#README_ARCHITECTURE.md
# Ignorer les fichiers de configuration IDE
.idea/
application.properties
**/pom.xml
build-all.ps1
build-all.sh
start-all.ps1
start-gestionproduit.ps1
start-gestionuser.ps1
start-recommendation.ps1
start-gateway.ps1
start-souscription.ps1
External Libraries
create-test-user.http

# Ignorer les fichiers de configuration Docker
docker-compose.yml
Dockerfile

