<nav class="breadcrumb-container" [class]="styleClass">
  <p-breadcrumb [model]="breadcrumbModel" [home]="homeItem">
    <ng-template pTemplate="item" let-item>
      <a 
        *ngIf="!isItemDisabled(item)" 
        [routerLink]="item.url" 
        class="breadcrumb-link"
        [class]="getItemClass(item)">
        <i *ngIf="item.icon" [class]="item.icon" class="breadcrumb-icon"></i>
        <span class="breadcrumb-label">{{ item.label }}</span>
      </a>
      <span 
        *ngIf="isItemDisabled(item)" 
        class="breadcrumb-link disabled"
        [class]="getItemClass(item)">
        <i *ngIf="item.icon" [class]="item.icon" class="breadcrumb-icon"></i>
        <span class="breadcrumb-label">{{ item.label }}</span>
      </span>
    </ng-template>
  </p-breadcrumb>
</nav>
